Django==4.0.1
asgiref==3.6.0
django-environ==0.10.0
sqlparse==0.4.3
python-dotenv==1.0.0
djangorestframework==3.14.0
gunicorn==20.1.0
psycopg2-binary
social-auth-app-django
social-auth-core
django-filter
pydantic
requests
